<table align="center" width=100%>
    <tr>
        <td width="15%">
            <img src="homework.png">
        </td>
        <td>
            <div align="center">
                <font color="#21618C" size=8px>
                    <b> Take-Home <br>(Day 3)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

#### Import the required libraries

In [1]:
# import 'Pandas' 
import pandas as pd 

# import 'Numpy' 
import numpy as np

# import subpackage of Matplotlib
import matplotlib.pyplot as plt
from matplotlib.colors import ListedColormap

# import 'Seaborn' 
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# display all columns of the dataframe
pd.options.display.max_columns = None

# display all rows of the dataframe
pd.options.display.max_rows = None
 
# to display the float values upto 6 decimal places     
pd.options.display.float_format = '{:.6f}'.format

# import train-test split 
from sklearn.model_selection import train_test_split

# import functions to perform scaling and normalization
from sklearn.preprocessing import StandardScaler 
from sklearn.preprocessing import MinMaxScaler

# import various functions from sklearn 
from sklearn import metrics
from sklearn.metrics import classification_report
from sklearn.metrics import confusion_matrix
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import GridSearchCV
from sklearn.model_selection import cross_val_score

#### Read the data

Load the csv file and print the first five observations.

In [2]:
df=pd.read_csv('rainfall_prediction.csv')
df.head()

,Obs_Id,Rainfall,Evaporation,Sunshine,Temp,Wind_Speed,Humidity,Pressure,RainTomorrow
0,1,3.600000,1.000000,3.000000,14.225000,12.333333,82.000000,1028.100000,0
1,2,0.000000,7.200000,4.900000,23.075000,44.333333,69.500000,1015.650000,1
2,3,0.000000,0.600000,1.500000,10.175000,16.666667,87.000000,1026.450000,0
3,4,0.800000,2.400000,0.500000,19.000000,42.666667,89.000000,1010.050000,1
4,5,40.400000,3.000000,3.600000,18.725000,35.333333,81.500000,1005.600000,0

In [3]:
df.dtypes

Obs_Id            int64
Rainfall        float64
Evaporation     float64
Sunshine        float64
Temp            float64
Wind_Speed      float64
Humidity        float64
Pressure        float64
RainTomorrow      int64
dtype: object

**The data definition is as follows:** <br>

**Obs_Id:** Observation Id

**Rainfall:** Rainfall recorded in a day (in mm) 

**Evaporation:** Number of field goals made 

**Sunshine:** Number of hours of bright sunshine per day

**Temp:** Temperature in degree C

**Wind_Speed:** Average speed of the wind in km/hour

**Humidity:** Humidity in percentage (%)

**Pressure:** Atmospheric pressure in hpa (hecto Pascals)

**Rain Tomorrow:** Whether it will rain or not(0 = No, it won't rain tomorrow, 1 = Yes, it will rain tomorrow) (target/dependent variable)

Our objective is to predict whether it will rain tomorrow or not.

### Let's begin with some hands-on practice exercises

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>1. Identify and remove the variables in the data which are insignificant for the classification analysis</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [4]:
# 'Obs_Id' is insignificant for the classification analysis
df.drop('Obs_Id',axis=1,inplace=True)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>2. Is there any record that is recorded more than once? If yes, do the needful</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [5]:
df.shape

(1520, 8)

In [6]:
df[df.duplicated()==True]

,Rainfall,Evaporation,Sunshine,Temp,Wind_Speed,Humidity,Pressure,RainTomorrow
142,0.000000,1.600000,6.900000,8.725000,18.666667,76.000000,1019.200000,0
143,0.000000,2.600000,2.700000,13.450000,22.666667,64.500000,1024.700000,0
144,0.000000,3.200000,3.100000,13.100000,28.333333,57.500000,1022.000000,0
145,0.000000,0.800000,5.600000,11.725000,12.666667,78.500000,1029.900000,0
146,5.600000,1.600000,11.500000,14.950000,21.333333,54.500000,1023.600000,0
147,0.000000,14.600000,12.800000,30.525000,26.000000,36.500000,1008.950000,0
148,9.800000,3.000000,10.700000,29.775000,22.666667,61.500000,1010.150000,0
149,0.000000,2.400000,4.200000,16.225000,25.333333,75.500000,1023.400000,1
150,0.200000,10.400000,5.800000,22.475000,28.333333,73.500000,1009.550000,1
151,0.000000,2.400000,4.400000,10.950000,24.333333,66.500000,1020.800000,0
1510,5.200000,0.400000,1.100000,18.725000,18.333333,86.500000,1004.550000,0
1511,0.000000,3.600000,7.600000,15.750000,14.000000,71.000000,1021.600000,0
1512,0.400000,5.200000,13.000000,19.950000,23.666667,52.000000,1015.250000,0
1513,0.000000,6.000000,10.900000,19.050000,21.333333,39.000000,1014.350000,0
1514,0.000000,3.200000,9.500000,15.375000,24.000000,53.000000,1031.750000,0
1515,0.000000,8.600000,11.200000,29.650000,22.666667,46.500000,1012.350000,0
1516,0.000000,4.000000,10.900000,29.175000,17.333333,67.500000,1011.050000,0
1517,0.000000,3.400000,9.300000,14.250000,18.333333,61.500000,1027.150000,0
1518,0.000000,5.400000,11.000000,18.925000,24.666667,69.000000,1017.000000,0
1519,3.400000,1.400000,9.400000,15.300000,41.333333,57.000000,1004.750000,0

In [7]:
df=df.drop_duplicates(keep=False,subset=None)

In [8]:
df.shape

(1480, 8)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>3. Are there any outliers present in the data? If yes, remove such observations using the quartiles of the variables
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [9]:
# calculate the first quartile
Q1 = df.quantile(0.25)

#calculate the third quartile
Q3 = df.quantile(0.75)

# The Interquartile Range (IQR) is defined as the difference between the third and first quartile
# calculate IQR
IQR = Q3 - Q1

# remove the outliers from the dataframe
df = df[~((df < (Q1 - 1.5 * IQR)) | (df > (Q3 + 1.5 * IQR))).any(axis=1)]

# reset the row index
df = df.reset_index(drop=True)

# check the shape of the data
df.shape

(963, 8)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>4. Is scaling required for the KNN algorithm? If yes, scale the data such that the range of each variable will be between 0 and 1
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [10]:
X=df.drop('RainTomorrow',axis=1)
y=df['RainTomorrow']

In [11]:
# initialize the Min Max scalar
X_scaler = MinMaxScaler()

# scale all the numerical columns
# standardize all the columns of the dataframe 'df_feature'
num_scaled = X_scaler.fit_transform(X)

# create a dataframe of scaled numerical variables
# pass the required column names to the parameter 'columns'
X_norm = pd.DataFrame(num_scaled, columns = X.columns)

# display first five observations
X_norm.head()

   Rainfall  Evaporation  Sunshine     Temp  Wind_Speed  Humidity  Pressure
0  0.000000     0.028571  0.107143 0.168821    0.272727  0.857955  0.794203
1  0.000000     0.485714  0.607143 0.626010    0.206612  0.517045  0.346377
2  0.000000     0.771429  0.828571 0.483037    0.776860  0.232955  0.382609
3  0.000000     0.471429  0.442857 0.490307    0.710744  0.261364  0.265217
4  0.000000     0.342857  0.821429 0.575929    0.256198  0.107955  0.924638

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>5. Build a 7-NN model on 70% of the data using the 'Chebyshev' distance and find its accuracy 
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [12]:
X_train_norm, X_test_norm, y_train, y_test = train_test_split(X_norm, y, random_state = 10, test_size = 0.3)

In [13]:
knn_classification = KNeighborsClassifier(n_neighbors = 3,metric='chebyshev')
knn_model = knn_classification.fit(X_train_norm, y_train)

In [14]:
print('Test accuracy is ',knn_model.score(X_train_norm, y_train))

Test accuracy is  1.0

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>6. Find the best value of 'K' for the KNN model from the given list of values (use 5-fold cross validation)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

**Use the given list:**

K = [3, 5, 7, 9, 11, 13]

In [15]:
tuned_paramaters = {'n_neighbors': [3, 5, 7, 9, 11, 13]}
knn=KNeighborsClassifier()
knn_grid = GridSearchCV(estimator = knn, 
                        param_grid = tuned_paramaters, 
                        cv = 5, 
                        scoring = 'accuracy')
knn_grid.fit(X_train_norm, y_train)
print('Best parameters for KNN Classifier: ', knn_grid.best_params_, '\n')

Best parameters for KNN Classifier:  {'n_neighbors': 3}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>7. Build a naive bayes model on 70% of the original data and plot the ROC curve along with the AUC score
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [16]:
X_test_norm.head()

     Rainfall  Evaporation  Sunshine     Temp  Wind_Speed  Humidity  Pressure
456  0.000000     0.028571  0.471429 0.071890    0.223140  0.647727  0.866667
615  0.000000     0.500000  0.792857 0.756058    0.561983  0.250000  0.404348
753  0.285714     0.342857  0.321429 0.335218    0.471074  0.494318  0.372464
943  1.000000     0.114286  0.400000 0.174475    0.214876  0.653409  0.550725
27   0.000000     0.371429  0.771429 0.432149    0.504132  0.073864  0.560870

In [17]:
gnb = GaussianNB()
gnb_model = gnb.fit(X_train_norm, y_train)

probas_ = gnb_model.predict_proba(X_test_norm)
probas_

array([[1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.],
       [1.]])

In [18]:
def plot_roc(model, test_data):
    y_pred_prob = model.predict_proba(test_data)[:,1]
    fpr, tpr, thresholds = roc_curve(y_test, y_pred_prob)
    plt.plot(fpr, tpr)
    plt.xlim([0.0, 1.0])
    plt.ylim([0.0, 1.0])
    plt.plot([0, 1], [0, 1],'r--')
    plt.title('ROC curve for Cancer Prediction Classifier', fontsize = 15)
    plt.xlabel('False positive rate (1-Specificity)', fontsize = 15)
    plt.ylabel('True positive rate (Sensitivity)', fontsize = 15)
    plt.text(x = 0.02, y = 0.9, s = ('AUC Score:',round(roc_auc_score(y_test, y_pred_prob),4)))
    plt.grid(True)

In [19]:
#plot_roc(gnb_model, test_data=X_test_norm)

fpr, tpr, thresholds = roc_curve(y_test, probas_[:, 1])
roc_auc = auc(fpr, tpr)
print("Area under the ROC curve : %f" % roc_auc)

#plot the ROC curve
plt.plot(fpr, tpr)
plt.xlim([0.0, 1.0])
plt.ylim([0.0, 1.0])
plt.plot([0, 1], [0, 1],'r--')
plt.title('ROC curve for Closed account (RFE Model)', fontsize = 15)
plt.xlabel('False positive rate (1-Specificity)', fontsize = 15)
plt.ylabel('True positive rate (Sensitivity)', fontsize = 15)
plt.text(x = 0.02, y = 0.9, s = ('AUC Score:', round(roc_auc,4)))

plt.grid(True)

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>8. Which distance metric among 'manhattan', 'euclidean' and 'chebyshev' is suitable for the given dataset? (consider K = 19)
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [21]:
tuned_paramaters = {'n_neighbors':  [19],
                   'metric': ['euclidean','manhattan','Chebyshev']}
knn_classification = KNeighborsClassifier()
knn_grid = GridSearchCV(estimator = knn_classification, 
                        param_grid = tuned_paramaters, 
                        cv = 5, 
                        scoring = 'accuracy')
knn_grid.fit(X_train_norm, y_train)
print('Best parameters for KNN Classifier: ', knn_grid.best_params_, '\n')

Best parameters for KNN Classifier:  {'metric': 'euclidean', 'n_neighbors': 19}

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>9. Find the euclidean distance between the first observation of the dataframe 'X_test_scaled' and its five neighboring points in the train set (use for loop)</b>
                </font>
            </div>
        </td>
    </tr>
</table>

In [ ]:
# type your code here

<table align="left">
    <tr>
        <td width="6%">
            <img src="question_icon.png">
        </td>
        <td>
            <div align="left", style="font-size:120%">
                <font color="#21618C">
                    <b>10. Use the parameters obtained in Q8 to build the KNN model, and find the number of false predictions using the test set
                    </b>
                </font>
            </div>
        </td>
    </tr>
</table>

knn=KNeighborsClassifier(n_neighbors=19,metric='euclidean')
knn_model_tuned=knn.fit(X_train_norm,y_train)
y_pred=knn_model_tuned.predict(X_test_norm)
cm=confusion_matrix(y_test,y_pred)
false_predict=cm[0][1]+cm[1][0]
print("False predictions = ",false_predict)

confusion_matrix(y_test,y_pred)